<div class="body animated fadeIn">
    <div class="container-fluid">
      <div>
        <br>
        <div class="row">
          <h3 class="col-md-10">&nbsp;&nbsp;Editar productos</h3>
        </div>
        <br><br>

        <div class="card mb-3">
            <div class="card-body">
              
        
            <div class="container-fluid table-responsive" aria-label="Page navigation example">
                <div class="container">
                    <form>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="input1">ID Categoría</label>
                <input type="text" class="form-control" formControlName="id" placeholder="ID Categoría">
              </div>
              <div class="form-group col-md-6">
                <label for="input2">Nombre del producto</label>
                <input type="text" class="form-control" formControlName="nombre" placeholder="Nombre del producto">
              </div>
            </div>
            <div class="form-group">
              <label for="input3">Detalle</label>
              <input type="text" class="form-control" formControlName="detalle" placeholder="Detalle del producto">
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                  <label for="input4">Unidades</label>
                  <input type="text" class="form-control" formControlName="unidades" placeholder="Unidades">
                </div>
                <div class="form-group col-md-4">
                  <label for="input5">Stock</label>
                  <input type="text" class="form-control" formControlName="stock" placeholder="Stock">
                </div>
                <div class="form-group col-md-4">
                    <label for="input5">Precio</label>
                    <input type="text" class="form-control" formControlName="precio" placeholder="Precio">
                  </div>
              </div>
            
              <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="example-date-input">Fecha de elaboración</label>
                      <input class="form-control" formControlName="fec_ela" type="date" value="2011-08-19" >
                  </div>
                  <div class="form-group col-md-6">
                    <label for="example-date-input">Fecha de caducidad</label>
                      <input class="form-control" formControlName="fec_cad" type="date" value="2011-08-19" >
                  </div>
              </div>
           
            <button type="submit" class="btn btn-primary">Editar</button>
          </form>
        </div>
            </div>
        </div>
        </div>
      </div>
    </div>
</div>
