<!--NAVBAR-->
<app-navbar></app-navbar>
<!--MODAL-->
<!-- ADD Modal HTML -->
<!-- ADD Modal HTML -->

<div id="addCapacitacion" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<form class="was-validated" [formGroup]="mantenimientosForm" (ngSubmit)="enviar(mantenimientosForm.value)">
				<div class="modal-header">
					<h4 class="modal-title">Nuevo Mantenimiento</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label><b>Fecha:</b></label>
						<input type="date" class="form-control" formControlName="fech_man_maq" required>
						<div class="invalid-feedback" role="alert">
							Campo requerido
						</div>
					</div>
					<div class="form-group">
						<label><b>Tipo:</b></label>
						<select class="form-control" id="exampleFormControlSelect1" formControlName="tipo_maq" required>                            
                            <option value="0">Tipo 1</option>
                            <option value="1">Tipo 2</option>
                            <option value="2">Tipo 3</option>
			</select>
			<div class="invalid-feedback" role="alert">
				Campo requerido
			</div>
					</div>
					<div class="form-group">
						<label><b>Descripción:</b></label>
						<textarea type="text" class="form-control" formControlName="des_man_maq" required></textarea>
						<div class="invalid-feedback" role="alert">
							Campo requerido
						</div>
					</div>
					<div class="form-group">
						<label><b>Estado:</b></label>
						<select class="form-control" id="exampleFormControlSelect1" formControlName="check_man_maq" required>                            
						<option value="0">Estado 1</option>
						<option value="1">Estado 2</option>
						<option value="2">Estado 3</option>
					</select>
					<div class="invalid-feedback" role="alert">
						Campo requerido
					</div>
          </div>
          <div class="form-group">
						<label><b>Costo:</b></label>
						<input type="text" class="form-control" formControlName="costo_man_maq" required>
						<div class="invalid-feedback" role="alert">
							Campo requerido
						</div>
					</div>
					<div class="form-group">
						<label><b>PróximoM:</b></label>
						<input type="date" class="form-control" formControlName="pro_man_maq" required>
						<div class="invalid-feedback" role="alert">
							Campo requerido
						</div>
					</div>
					<div class="form-group">
						<label><b>Marca:</b></label>
						<input type="text" class="form-control" formControlName="marca_man_maq" required>
						<div class="invalid-feedback" role="alert">
							Campo requerido
						</div>
          </div>
          <div class="form-group">
						<label><b>Kilometraje:</b></label>
						<input type="number" min="1" class="form-control" required>
          </div>
          <div class="form-group">
						<label><b>Placa:</b></label>
						<input type="text" class="form-control" formControlName="placa_man_maq" required>
						<div class="invalid-feedback" role="alert">
							Campo requerido
						</div>
          </div>
          <div class="form-group">
						<label><b>Origen:</b></label>
						<input type="text" class="form-control" formControlName="origen_man_maq" required>
						<div class="invalid-feedback" role="alert">
							Campo requerido
						</div>
          </div>


				</div>
				<div class="modal-footer">
					<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
					<input type="submit" class="btn btn-success" value="Agregar">
				</div>
			</form>
		</div>
	</div>
</div>

<!--TABLA-->
<div class="container-fluid main-container">
	<div class="table-title">
		<div class="row">
            <h3 class="col-md-10">&nbsp;&nbsp;Mantenimiento</h3><br><br>
            <div class="col">			
              <a href="#addCapacitacion" class="btn btn-success" data-toggle="modal"><i class="fas fa-plus-square"></i>&nbsp;&nbsp;<span> Nueva</span></a>
            </div>			 			
		</div>
	</div>
	<div class="body animated fadeIn">
		<div class="container-fluid">
		  <div>
			<div class="card my-3"><br>
			  <div class="container-fluid" aria-label="Page navigation example">
				  <div class="table-responsive">
					<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover">
						<thead >
						  <tr>
                            <th scope="col">#</th>
                            <th scope="col">Fecha</th>
                            <th scope="col">Tipo</th>
                            <th scope="col">Descripción</th>                            
                            <th scope="col">Estado</th> 
							<th scope="col">Costo</th> 
							<th scope="col">PróximoM</th>  
                            <th scope="col">Marca</th> 
                            <th scope="col">Kilometraje</th>
                            <th scope="col">Placa</th>
                            <th scope="col">Origen</th>                                                   
						  </tr>
						</thead>
						<tbody>
						    <tr *ngFor="let mantenimiento1 of mantenimiento">
                                <td scope="row" class="text-center">{{mantenimiento.id}}</td>
                                <td>29/01/2021</td>
                                <td>Vehiculo</td>
                                <td>Cambio de aceite</td>
                                <td>Funcional</td>
								<td>5</td> 
								<td>03/02/2021</td>                               
                                <td>Patito</td>
                                <td>25000</td>	
                                <td>ABC123</td>
                                <td>Chino</td>					  							  
							</tr>
						</tbody>
                      </table>
                     
                    </div>
				  </div>
				<br>
              </div>
             
		  </div>
		</div>
	  </div>
</div>
