<div class="container mt-5">
  <div class="row">
    <div class="col-md-2">
            <form > 
              <h3>Ingresar Maquinaria</h3>
              <label for="sel1">Código Maquinaria</label>
                <input type="text" class="form-control mb-3" name="codigo" placeholder="Código Maquinaria" disabled>
                <div class="form-group">
                  <label for="sel1">Tipo Maquinaria</label>
                  <select class="form-control" id="sel1">
                    <option>Maquinaria A</option>
                    <option>Maquinaria B</option>
                    <option>Maquinaria C</option>
                    <option>Maquinaria D</option>
                  </select>
                </div>  
                    <label for="sel1">Nombre</label>
                  <input type="text" class="form-control mb-3" name="nombre" placeholder="Nombre"> 
                  <label for="sel1">Socio</label>
                  <input type="text" class="form-control mb-3" name="socio" placeholder="Socios"> 
              </form>
          </div>
  <br>
          <div class="col-md-10"> 
              <div class="table-responsive"> 
                <div class="form-group">
                  <input type="text" class="form-control pull-right" style="width:20%" id="search" placeholder="Buscar...">
                  <br>
                  <br> 
                </div>
                <table class="table table-responsive" id="mytable" cellspacing="0" style="width: 100%;">
<thead class="thead-dark">
  <tr>
    <th scope="col">Código</th>
    <th scope="col">Tipo Maquinaria</th>
    <th scope="col">Nombre</th>
    <th scope="col">Socio</th>
    <th scope="col">Estado</th>
    <th scope="col">Foto</th>
    <th> </th>
    <th> </th>
    <th> </th>
  </tr>
</thead>
<tbody>
 <tr>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  </tr>
</tbody>
</table>
          </div>
      </div>
  </div>
</div>