<app-navbar></app-navbar>

<div id="addProduct" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<form>
				<div class="modal-header">
					<h4 class="modal-title">Nuevo Producto</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label><b>Nombre:</b></label>
						<input type="text" class="form-control" required>
					</div>
					<div class="form-group">
            <label><b>Detalle:</b></label>
            <input type="text" class="form-control" required>
					</div>
					<div class="form-group">
						<label><b>Unidades:</b></label>
						<input type="text" class="form-control" required>
					</div>
					<div class="form-group">
						<label><b>Stock:</b></label>
						<input type="text" class="form-control" required>
          </div>
          <div class="form-group">
						<label><b>Precio:</b></label>
						<input type="text" class="form-control" required>
          </div>
          <div class="form-group">
						<label><b>Fecha elaboración:</b></label>
						<input type="date" class="form-control" required>
          </div>
          <div class="form-group">
						<label><b>Fecha caducidad:</b></label>
						<input type="date" class="form-control" required>
          </div>
				</div>
				<div class="modal-footer">
					<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
					<input type="submit" class="btn btn-success" value="Agregar">
				</div>
			</form>
		</div>
	</div>
</div>

<div id="editProduct" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<form>
				<div class="modal-header">
					<h4 class="modal-title">Editar Capacitacion</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label><b>Tema:</b></label>
						<input type="text" class="form-control" required>
					</div>
					<div class="form-group">
						<label><b>Fecha:</b></label>
						<input type="date" class="form-control" required>
					</div>
					<div class="form-group">
						<label><b>Hora Inicio:</b></label>
						<input type="Time" class="form-control" required>
					</div>
					<div class="form-group">
						<label><b>Hora Fin:</b></label>
						<input type="Time" class="form-control" required>
                    </div>
                    <div class="form-group">
						<label><b>Capacitador:</b></label>
						<input type="text" class="form-control" required>
                    </div>


				</div>

				<div class="modal-footer">
					<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
					<input type="submit" class="btn btn-info" value="Guardar">
				</div>
			</form>
		</div>
	</div>
</div>

<div id="deleteProduct" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<form>
				<div class="modal-header">
					<h4 class="modal-title">Eliminar Capacitacion</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">
					<p>¿Esta seguro que quieres eliminar?</p>

				</div>
				<div class="modal-footer">
					<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
					<input type="submit" class="btn btn-danger" value="Delete">
				</div>
			</form>
		</div>
	</div>
</div>

<div class="body animated fadeIn">
  <div class="container-fluid">
    <div>
      <br>
      <div class="row">
        <h3 class="col-md-10">&nbsp;&nbsp;Productos</h3>
        <button class="btn btn-success fas fa-plus-square" href="#addProduct" data-toggle="modal">&nbsp;&nbsp;Agregar</button>
      </div>
      <div class="card my-3">
        <div class="container-fluid table-responsive" aria-label="Page navigation example">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Detalle</th>
                <th scope="col">Precio</th>
                <th scope="col">Opciones</th>
              </tr>
            </thead>
            <tbody *ngFor="let producto of productos">
              <tr>
                <th scope="row"></th>
                <td>{{producto.nom_pro}}</td>
                <td>{{producto.desc_pro}}</td>
                <td>{{producto.pvp_pro}}</td>
                <td>
                  <button type="button" class="btn btn-outline-warning" href="#editProduct" data-toggle="modal"><i class="fas fa-edit"></i></button>&nbsp;
                  <button type="button" class="btn btn-outline-danger" href="#deleteProduct" data-toggle="modal"><i class="far fa-trash-alt"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
	  <div class="float-right">
		<pagination-controls (pageChange)="p = $event" responsive="true"
		previousLabel="Anterior"
		nextLabel="Siguiente"></pagination-controls>
		  </div>
    </div>
  </div>
</div>
