<app-navbar></app-navbar>
<div class="body animated fadeIn">
  <div class="container-fluid">
      <div class="">
          <div class="card my-3">
              <div class="card-body">
                  <nav class="navbar navbar-light bg-light">
                      <form class="d-flex">
                          <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">&nbsp;
                          <button class="btn btn-pct" type="submit">Buscar</button>
                      </form>
                      <button class="btn btn-pct" (click)="salir()">Cerrar Sesión</button>
                  </nav>
              </div>
              
              <br>
              <div class="container-fluid">
                  <table class="table table-bordered">
                    <thead class="table1">
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Detalle</th>
                        <th scope="col">Precio</th>
                      </tr>
                    </thead>
                    <tbody *ngFor="let i = index">
                      <tr class="table-light">
                        <th scope="row"></th>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                    </tbody>
                  </table>
              </div>
          </div>
      </div>
  </div>
</div>
