<!--NAVBAR-->
<app-navbar></app-navbar>
<!--MODAL-->
<!-- ADD Modal HTML -->

<div id="addCapacitacion" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<form>
				<div class="modal-header">
					<h4 class="modal-title">Nueva Capacitacion</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label><b>Tema:</b></label>
						<input type="text" class="form-control" required>
					</div>
					<div class="form-group">
						<label><b>Fecha:</b></label>
						<input type="date" class="form-control" required>
					</div>
					<div class="form-group">
						<label><b>Hora Inicio:</b></label>
						<input type="Time" class="form-control" required>
					</div>
					<div class="form-group">
						<label><b>Hora Fin:</b></label>
						<input type="Time" class="form-control" required>
                    </div>
                    <div class="form-group">
						<label><b>Capacitador:</b></label>
						<input type="text" class="form-control" required>
					</div>
					<div class="form-group">
						<label><b>Entidad:</b></label>
						<input type="text" class="form-control" required>
                    </div>


				</div>
				<div class="modal-footer">
					<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
					<input type="submit" class="btn btn-success" value="Agregar">
				</div>
			</form>
		</div>
	</div>
</div>

<!-- Edit Modal HTML-->
<div id="editCapacitacion" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<form>
				<div class="modal-header">
					<h4 class="modal-title">Editar Capacitacion</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label><b>Tema:</b></label>
						<input type="text" class="form-control" required>
					</div>
					<div class="form-group">
						<label><b>Fecha:</b></label>
						<input type="date" class="form-control" required>
					</div>
					<div class="form-group">
						<label><b>Hora Inicio:</b></label>
						<input type="Time" class="form-control" required>
					</div>
					<div class="form-group">
						<label><b>Hora Fin:</b></label>
						<input type="Time" class="form-control" required>
                    </div>
                    <div class="form-group">
						<label><b>Capacitador:</b></label>
						<input type="text" class="form-control" required>
					</div>
					<div class="form-group">
						<label><b>Entidad:</b></label>
						<input type="text" class="form-control" required><br>						
                    </div>					
				</div>
				<div class="modal-footer">
					<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
					<input type="submit" class="btn btn-info" value="Guardar">
				</div>
			</form>
		</div>
	</div>
</div>
<!-- Delete Modal HTML -->
<div id="deleteCapacitacion" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<form>
				<div class="modal-header">
					<h4 class="modal-title">Eliminar Capacitacion</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">					
					<p>¿Está seguro que quieres eliminar?</p>					
				</div>
				<div class="modal-footer">
					<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
					<input type="submit" class="btn btn-danger" value="Eliminar">
				</div>
			</form>
		</div>
	</div>
</div>

<!--TABLA-->
<!--
<div class="container main-container">
	<div class="table-title">
		<div class="row">
			<div class="col"><h2><b>Capacitaciones</b></h2></div>
			
			<div class="col-sm-2">
				<a href="#addEntidad" class="btn btn-info" data-toggle="modal"><i class="fas fa-plus-square"></i>&nbsp;&nbsp;<span> Nueva Entidad</span></a><br><br>
				<a href="#addCapacitacion" class="btn btn-success" data-toggle="modal"><i class="fas fa-plus-square"></i>&nbsp;&nbsp;<span> Nueva Capacitacion</span></a><br><br>
				
			</div>
		</div>
	</div>
	<div class="table-responsive">
		<table id="userList" class="table table-bordered table-hover table-striped">
			<thead class="thead-dark">
			<tr>
				<th scope="col" class="text-center">#</th>
				<th scope="col" class="text-center">Tema</th>
				<th scope="col" class="text-center">Fecha</th>
				<th scope="col" class="text-center">Hora Inicio</th>
				<th scope="col" class="text-center">Hora Fin</th>
				<th scope="col" class="text-center">Capacitador</th>
				<th scope="col" class="text-center">Entidad</th>
				<th scope="col" class="text-center">Acciones</th>
			</tr>
			</thead>
			<tbody>
				<tr >
				  <th scope="row" class="text-center">1</th>
				  <td></td>
				  <td></td>
				  <td></td>
				  <td></td>
				  <td></td>
				  <td></td>
				  <td>
					<div style="text-align: center">
						  <a class="btn btn-info" [routerLink]="['/asiscapacitacion/:id']">Detalle</a>&nbsp;&nbsp;
						  <a href="#editCapacitacion" class="edit btn btn-secondary" data-toggle="modal"><i class="fas fa-edit"></i></a>&nbsp;&nbsp;&nbsp;
						  <a href="#deleteCapacitacion" class="delete btn btn-danger" data-toggle="modal"><i class="far fa-trash-alt"></i></a>
					</div>
				  </td>
				</tr>
				
			  </tbody>
		</table>
		<!--<pagination-controls 
		(pageChange)="paginatecapacitacion = $event" 
		previousLabel="Anterior"
		nextLabel="Siguiente">
	</pagination-controls>-->



<div class="container-fluid main-container">
	<div class="table-title">
		<div class="row">
			<h3 class="col-md-10">&nbsp;&nbsp;Capacitaciones</h3>			
			<div class="col">			
				<a href="#addCapacitacion" class="btn btn-success" data-toggle="modal"><i class="fas fa-plus-square"></i>&nbsp;&nbsp;<span> Nueva</span></a>
			</div>
		</div>
	</div>
	<div class="body animated fadeIn">
		<div class="container-fluid">
		  <div>
			<div class="card my-3">
			  <div class="container-fluid" aria-label="Page navigation example">
				  <div class="table-responsive">
					<table class="table table-hover">
						<thead >
						  <tr>
							  <th scope="col" class="text-center">#</th>
							  <th scope="col" class="text-center">Tema</th>
							  <th scope="col" class="text-center">Fecha</th>
							  <th scope="col" class="text-center">Hora Inicio</th>
							  <th scope="col" class="text-center">Hora Fin</th>
							  <th scope="col" class="text-center">Capacitador</th>
							  <th scope="col" class="text-center">Entidad</th>
							  <th scope="col" class="text-center">Acciones</th>
						  </tr>
						</thead>
						<tbody>
						  <tr >
							  <th scope="row" class="text-center">1</th>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td></td>
							  <td>
								<div style="text-align: center">
									  <a class="btn btn-outline-info" [routerLink]="['/asiscapacitacion/:id']">Detalle</a>&nbsp;&nbsp;
									  <a href="#editCapacitacion" class="btn btn-outline-warning" data-toggle="modal"><i class="fas fa-edit"></i></a>&nbsp;&nbsp;&nbsp;
									  <a href="#deleteCapacitacion" class="btn btn-outline-danger" data-toggle="modal"><i class="far fa-trash-alt"></i></a>
								</div>
							  </td>
							</tr>
						</tbody>
					  </table>
				  </div>
				
			  </div>
			</div>
		  </div>
		</div>
	  </div>
</div>

  
