<!--NAVBAR-->
<app-navbar></app-navbar>
<!--MODAL-->
<!-- ADD Modal HTML -->

<div id="addCapacitacion" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<!--<form #userPost="ngForm" (ngSubmit)="onSubmit(userPost.value)">-->
				<form>
				<div class="modal-header">
					<h4 class="modal-title">Nueva Capacitacion</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label><b>Tema:</b></label>
						<input type="text" class="form-control" required>
					</div>
					<div class="form-group">
						<label><b>Fecha:</b></label>
						<input type="date" class="form-control" required>
					</div>
					<div class="form-group">
						<label><b>Hora Inicio:</b></label>
						<input type="Time" class="form-control" required>
					</div>
					<div class="form-group">
						<label><b>Hora Fin:</b></label>
						<input type="Time" class="form-control" required>
                    </div>
                    <div class="form-group">
						<label><b>Capacitador:</b></label>
						<input type="text" class="form-control" required>
					</div>
					<div class="form-group">
						<label><b>Entidad:</b></label>
						<input type="text" class="form-control" required>
					</div>
				</div>
				<div class="modal-footer">
					<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
					<input type="submit" class="btn btn-success" value="Agregar">
				</div>
			</form>
		</div>
	</div>
</div>

<!-- Edit Modal HTML-->
<div id="editCapacitacion" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<form (ngSubmit)="onEdit( f )" #f="ngForm">
				<div class="modal-header">
					<h4 class="modal-title">Editar Capacitacion</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label><b>Tema:</b></label>
						<input [(ngModel)]="capacitacionUpdate.tem_cap" type="text" class="form-control" name="tem_cap" required>
					</div>
					<div class="form-row">
						<div class="form-group col-md-6">
							<label><b>Fecha Inicio:</b></label>
							<input [(ngModel)]="capacitacionUpdate.fech_ini_cap" type="date" class="form-control" name="fech_ini_cap" required>
						</div>
						<div class="form-group col-md-6">
							<label><b>Fecha Fin:</b></label>
							<input [(ngModel)]="capacitacionUpdate.fech_fin_cap" type="date" class="form-control" name="fech_fin_cap" required>
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-6" >
							<label><b>Hora Inicio:</b></label>
							<input [(ngModel)]="capacitacionUpdate.hora_ini_cap" type="Time" class="form-control" name="hora_ini_cap" required>
						</div>
						<div class="form-group col-md-6" >
							<label><b>Hora Fin:</b></label>
							<input [(ngModel)]="capacitacionUpdate.hora_fin_cap" type="Time" class="form-control" name="hora_fin_cap" required>
						</div>
					</div>					
                    <div class="form-group">
						<label><b>Entidad:</b></label>
						<input  type="text" class="form-control" required>
					</div>
					<div class="form-group">
						<label><b>Capacitador:</b></label>
						<input type="text" class="form-control" required><br>						
                    </div>					
				</div>
				<div class="modal-footer">
					<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
					<input type="submit" class="btn btn-info" value="Guardar">
				</div>
			</form>
		</div>
	</div>
</div>
<!-- Delete Modal HTML -->
<div id="deleteCapacitacion" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<form  (ngSubmit)="delete()">
				<div class="modal-header">
					<h4 class="modal-title">Eliminar Capacitacion</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">					
					<p>¿Está seguro que quieres eliminar?</p>					
				</div>
				<div class="modal-footer">
					<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
					<input type="submit" class="btn btn-danger" value="Eliminar">
				</div>
			</form>
		</div>
	</div>
</div>

<!--TABLA-->

	<div class="body animated fadeIn">
	<div class="container-fluid">
	  <div>
		<br>
		<div class="row">
		  <h3 class="col-md-10">&nbsp;&nbsp;Capacitacion</h3>
		  <div class="col">
			<a href="#addCapacitacion" class="btn btn-success" data-toggle="modal"><i class="fas fa-plus-square"></i>&nbsp;&nbsp;<span>Agregar</span></a>
		  </div>
		</div>
		<div class="card my-3">
		  <br>
		  <div class="container-fluid table-responsive" aria-label="Page navigation example">
			<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover">
			  <thead>
				<tr>
					<th scope="col" class="text-center">Tema</th>
					<th scope="col" class="text-center">Fecha Inicio</th>
					<th scope="col" class="text-center">Fecha Fin</th>
					<th scope="col" class="text-center">Hora Inicio</th>
					<th scope="col" class="text-center">Hora Fin</th>
					<th scope="col" class="text-center">Capacitador</th>
					<th scope="col" class="text-center">Entidad</th>
					<th scope="col" class="text-center">Acciones</th>
				</tr>
			  </thead>
			  <tbody>
				<tr *ngFor="let capacitacion of capacitaciones">
					<td scope="row" class="text-center">{{capacitacion.tem_cap}}</td>
					<td scope="col" class="text-center">{{capacitacion.fech_ini_cap}}</td>
					<td scope="col" class="text-center">{{capacitacion.fech_fin_cap}}</td>
					<td scope="col" class="text-center">{{capacitacion.hora_ini_cap}}</td>
					<td scope="col" class="text-center">{{capacitacion.hora_fin_cap}}</td>					
					<td scope="col" class="text-center"></td>					
					<td> </td>
					<td>
						<div style="text-align: center">
							  <a class="btn btn-outline-info" [routerLink]="['/asiscapacitacion/:id']">Detalle</a>&nbsp;&nbsp;
							  <a href="#editCapacitacion" class="btn btn-outline-warning" data-toggle="modal" (click)="openModalActualizar(capacitacion._id)"><i class="fas fa-edit"></i></a>&nbsp;&nbsp;&nbsp;
							  <a href="#deleteCapacitacion" class="btn btn-outline-danger" data-toggle="modal" (click)="openModalActualizar(capacitacion._id)"><i class="far fa-trash-alt"></i></a>
						</div>
					  </td>
				  </tr>
			  </tbody>
			</table>
		  </div>
		  <br>
		</div>
	  </div>
	</div>
  </div>
  