<!--MODAL-->
<!-- ADD Modal HTML -->

<div id="addEmployeeModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<form>
				<div class="modal-header">
					<h4 class="modal-title">Nueva Capacitacion</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label><b>Tema:</b></label>
						<input type="text" class="form-control" required>
					</div>
					<div class="form-group">
						<label><b>Fecha:</b></label>
						<input type="date" class="form-control" required>
					</div>
					<div class="form-group">
						<label><b>Hora Inicio:</b></label>
						<input type="Time" class="form-control" required>
					</div>
					<div class="form-group">
						<label><b>Hora Fin:</b></label>
						<input type="Time" class="form-control" required>
                    </div>
                    <div class="form-group">
						<label><b>Capacitador:</b></label>
						<input type="text" class="form-control" required>
                    </div>


				</div>
				<div class="modal-footer">
					<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
					<input type="submit" class="btn btn-success" value="Agregar">
				</div>
			</form>
		</div>
	</div>
</div>

<!-- Edit Modal HTML-->
<div id="editEmployeeModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<form>
				<div class="modal-header">
					<h4 class="modal-title">Editar Capacitacion</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label><b>Tema:</b></label>
						<input type="text" class="form-control" required>
					</div>
					<div class="form-group">
						<label><b>Fecha:</b></label>
						<input type="date" class="form-control" required>
					</div>
					<div class="form-group">
						<label><b>Hora Inicio:</b></label>
						<input type="Time" class="form-control" required>
					</div>
					<div class="form-group">
						<label><b>Hora Fin:</b></label>
						<input type="Time" class="form-control" required>
                    </div>
                    <div class="form-group">
						<label><b>Capacitador:</b></label>
						<input type="text" class="form-control" required>
                    </div>


				</div>

				<div class="modal-footer">
					<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
					<input type="submit" class="btn btn-info" value="Guardar">
				</div>
			</form>
		</div>
	</div>
</div>
<!-- Delete Modal HTML -->
<div id="deleteEmployeeModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<form>
				<div class="modal-header">
					<h4 class="modal-title">Eliminar Capacitacion</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">
					<p>¿Esta seguro que quieres eliminar?</p>

				</div>
				<div class="modal-footer">
					<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
					<input type="submit" class="btn btn-danger" value="Delete">
				</div>
			</form>
		</div>
	</div>
</div>

<!--TABLA-->

<div class="table-title">
    <div class="row">
        <div class="col"><h2><b>Detalle Capacitacion </b></h2></div>
        <div class="col-sm-2">
            <a href="#addEmployeeModal" class="btn btn-success" data-toggle="modal"><i class="fas fa-plus-square"></i>&nbsp;&nbsp;<span> Agregar</span></a>

        </div>
    </div>
</div>
<div class="table-responsive">
	<table id="userList" class="table table-bordered table-hover table-striped">
		<thead class="thead-dark">
		<tr>
            <th scope="col" class="text-center">#</th>
            <th scope="col" class="text-center">Tema</th>
            <th scope="col" class="text-center">Fecha</th>
			<th scope="col" class="text-center">Hora Inicio</th>
			<th scope="col" class="text-center">Hora Fin</th>
            <th scope="col" class="text-center">Capacitador</th>
            <th scope="col" class="text-center">Acciones</th>
		</tr>
		</thead>
		<tbody>
            <tr>
              <th scope="row" class="text-center">1</th>
              <td></td>
              <td></td>
              <td></td>
			  <td></td>
			  <td></td>
              <td>
				<div style="text-align: center">
					<a class="btn btn-info" [routerLink]="['/asiscapacitacion/:id']">Detalle</a>&nbsp;&nbsp;
                  <a href="#editEmployeeModal" class="edit btn btn-secondary" data-toggle="modal"><i class="fas fa-edit"></i></a>&nbsp;&nbsp;&nbsp;
                  <a href="#deleteEmployeeModal" class="delete btn btn-danger" data-toggle="modal"><i class="far fa-trash-alt"></i></a>
				</div>





              </td>
            </tr>

          </tbody>
	</table>
</div>
