<!--NAVBAR-->
<app-navbar></app-navbar>
<!--MODAL-->
<!-- ADD Modal HTML -->

<div id="addPedido" class="modal fade" tabindex="-1" role="dialog" style="text-align: center;">
	<div class="modal-dialog modal-xl" role="document">
		<div class="modal-content">
			<form>
				<div class="modal-header">
					<h4 class="modal-title">Nuevo Pedido</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">
					<div class="form-row">

						<div class="form-group col-md-6">
							<label><b>id_fac:</b></label>
							<input type="number" class="form-control" name="id_fac" [(ngModel)]="FechaAct.id_fac"/><br/>
						</div>
						<div class="form-group col-md-6">
							<label><b>Fecha:</b></label>
							<select class="form-control" name="fecha" [(ngModel)]="FechaAct.fecha">
								<option><p>{{curDate | date:'dd-MM-yyyy'}}</p></option>
							</select>
							 
						</div>

						<div class="form-group col-md-6">
							<label for="sel1"><b>Categoría:</b></label>
							<select class="form-control" name="id_cat" [(ngModel)]="persona.categoria">
								<option selected>Escoja una categoría</option>
								<option *ngFor="let categoria of categorias" [value]="categoria._id">
									<p>{{categoria.nombre}}</p>
								</option>
							</select>
							<div class="invalid-feedback" role="alert" *ngIf="errorCtr.id_cat.errors?.required">
								Campo requerido.
							</div>
						</div>

						<div class="form-group col-md-6">
							<label><b>Producto:</b></label>
							<input type="text" class="form-control" name="nombre_producto" [(ngModel)]="persona.nombre_producto">
						</div>

						<div class="form-group col-md-6">
							<label><b>Precio:</b></label>
							<input type="number" class="form-control"name="costo_producto"[(ngModel)]="persona.costo_producto"/><br>
						</div>
						
						<div class="form-group col-md-6">
							<label><b>Cantidad:</b></label>
							<input type="number" class="form-control"name="cantidad_producto"[(ngModel)]="persona.cantidad_producto"/><br>
						</div>

						<!--Botones-->
						
						<div class="form-group col-md-3">
							<input type="button" class="btn btn-success" value="Registrar Pedido" (click)="guardar()" (click)="Calcular()"/>
						</div>
						<div class="form-group col-md-3">
							<input type="button" class="btn btn-primary" value="Datos Factura" (click)="Fech()"/>	
						</div>
						<div class="form-group col-md-3">
							<input type="button" class=" btn btn-success" value="Confirmar Pedido" (click)="Fech()"/>	
						</div>
						


					</div>
					<br>
					<table class="table table-hover">
						<thead>
							<tr>
								<th>id_fac</th>
								<th>Fecha</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let FechaAct of FechaActual">
								<td>{{FechaAct.id_fac}}</td>
								<td>{{FechaAct.fecha}}</td>
							</tr>
						</tbody>
					</table>
					<br>
					<table class="table table-hover">
						<thead>
						  <tr>
							<th>#</th>
							<th>Categoria</th>
							<th>Producto</th>
							<th>Precio</th>
							<th>Cantidad</th>
							<th>Subtotal</th>
						  </tr>
						</thead>
						<tbody>
						  <tr *ngFor="let persona of personas, index as id">
							<td>{{ id+1 }}</td>
							<td>{{ persona.categoria}}</td>
							<td>{{ persona.nombre_producto}}</td>
							<td>{{ persona.costo_producto | currency}}</td>
							<td>{{ persona.cantidad_producto}}</td>
							<td>{{ persona.costo_producto * persona.cantidad_producto | currency}}</td>
						  </tr>
						  <hr>
						  <tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td>Total:</td>
							<td>
							  {{ total }}
							</td>
						  </tr>
						</tbody>
					  </table>
				</div>
			</form>
		</div>
	</div>
</div>

<!-- Pedido Confirmado -->

<div id="DetallePedido" class="modal fade" tabindex="-1" role="dialog" style="text-align: center;">
	<div class="modal-dialog modal-xl" role="document">
		<div class="modal-content">
			<form>
				<br>
				<br>
				<div class="modal-header">
					<h4 class="modal-title">Detalle del Pedido</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<br>
				<br>
				<table class="table table-hover">
					<thead>
						<tr>
							<th>id_fac</th>
							<th>Fecha</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let FechaAct of FechaActual">
							<td>{{FechaAct.id_fac}}</td>
							<td>{{FechaAct.fecha}}</td>
						</tr>
					</tbody>
				</table>
				<div class="modal-body">
					<table class="table table-hover">
						<thead>
						  <tr>
							<th>#</th>
							<th>Categoria</th>
							<th>Producto</th>
							<th>Precio</th>
							<th>Cantidad</th>
							<th>Subtotal</th>
						  </tr>
						</thead>
						<tbody>
						  <tr *ngFor="let persona of personas, index as id">
							<td>{{ id+1 }}</td>
							<td>{{ persona.nombre_persona }}</td>
							<td>{{ persona.nombre_producto}}</td>
							<td>{{ persona.costo_producto | currency}}</td>
							<td>{{ persona.cantidad_producto}}</td>
							<td>{{ persona.costo_producto * persona.cantidad_producto | currency}}</td>
						  </tr>
						  <hr>
						  <tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td>Total:</td>
							<td>
							  {{ total }}
							</td>
						  </tr>
						</tbody>
					  </table>
				</div>
			</form>
		</div>
	</div>
</div>

<!-- tabla principal -->
	
<div class="body animated fadeIn">
	<div class="container-fluid">
		<div>
			<br>
            <div class="row">
				<div class="col-md-10">
                    <h3>&nbsp;Registro de facturas Pedidos</h3>
                </div>
                <div class="col">
                    <a href="#addPedido" class="btn btn-success" data-toggle="modal"><i class="fas fa-plus-square">
					</i>&nbsp;&nbsp;<span>Agregar Pedido</span></a>
                </div>
			</div>
			<div class="card my-3">
				<br>
				<div class="container-fluid table-responsive" aria-label="Page navigation example">
					<table class="table table-hover">
						<thead>
							<tr>
								<th scope="col"> N# </th>
								<th scope="col"> </th>
								<th scope="col"> id_fac</th>
								<th scope="col"> </th>
								<th scope="col"> Fecha</th>
								<th scope="col"> </th>
								<th scope="col"> Total</th>
								<th scope="col"> </th>
								<th scope="col"> Descargar Factura</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>1</td>
								<td></td>
								<td>123456</td>
								<td></td>
								<td>24/11/2020</td>
								<td></td>
								<td>1000</td>
								<td></td>
								<td><a [href]="fileUrl" download="file.txt"  class="btn btn-info">Factura</a></td>

							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

