<div class="body animated fadeIn">
    <div class="container-fluid">
        <div class="">
            <div class="card my-3">
                <div class="card-body">
                    <nav class="navbar navbar-light bg-light">
                        <form class="d-flex">
                            <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">&nbsp;
                            <button class="btn btn-pct" type="submit">Buscar</button>
                        </form>
                        <button class="btn btn-pct" (click)="salir()">Cerrar Sesión</button>
                    </nav>
                </div>
                <br>
                <div class="container-fluid">
                    <table class="table table-bordered">
                        <thead class="table1">
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Apellido</th>
                                <th scope="col">Teléfono</th>
                                <th scope="col">Móvil</th>
                                <th scope="col">E-mail</th>
                                <th scope="col">Opciones</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let usuario of usuarios">
                            <tr class="table-light">
                                <th scope="row"></th>
                                <td>{{usuario.nombre}}</td>
                                <td>{{usuario.apellido}}</td>
                                <td>{{usuario.tlfc}}</td>
                                <td>{{usuario.tlfm}}</td>
                                <td>{{usuario.email}}</td>
                                <td><button type="button" class="btn btn-outline-warning">EDITAR</button>
                                    <button type="button" class="btn btn-outline-danger">ELIMINAR</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>