<div class="body animated fadeIn">
  <div>
    <nav class="navbar navbar-expand-lg navbar-secondary bg-secondary">
      <div class="container-fluid">
        <a class="navbar-brand">Pacto</a>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link">Usuarios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">Productos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">Pedido</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">Maquinaria</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">Capacitación</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">Asistencia</a>
            </li>
          </ul>
        </div>
      </div>
      <button class="btn btn-outline-dark" (click)="salir()">Cerrar Sesión</button>
    </nav>
  </div>
  <div class="container-fluid">
    <div aria-label="Page navigation example">
      <br>
      <ul class="pagination justify-content-end">
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Anterior</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#">Siguiente</a>
        </li>
      </ul>
      <div class="card my-3">
        <div class="container-fluid">
          <table class="table table-hover">
            <thead >
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Teléfono</th>
                <th scope="col">Móvil</th>
                <th scope="col">E-mail</th>
                <th scope="col">Opciones</th>
              </tr>
            </thead>
            <tbody *ngFor="let usuario of usuarios">
              <tr>
                <th scope="row"></th>
                <td>{{usuario.nombre}}</td>
                <td>{{usuario.apellido}}</td>
                <td>{{usuario.tlfc}}</td>
                <td>{{usuario.tlfm}}</td>
                <td>{{usuario.email}}</td>
                <td>
                  <button type="button" class="btn btn-outline-warning">EDITAR</button>&nbsp;
                  <button type="button" class="btn btn-outline-danger">ELIMINAR</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
